<h1 class='text-center'>Reserva de salas</h1>

<% if user_signed_in? %>
	
	<%if !current_user.is_admin?%>
		<div>Signed in as: <%= current_user.email %> (ADMIN)</div>
			<%= link_to 'Dashboard do admin', backoffice_path, method: :get, class: 'btn btn-primary' %>
  			<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  			<%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary' %>
	<%end%>


	<%if current_user.is_admin? %>
  		<div>Signed in as... <%= current_user.email %></div>
  		<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  		<%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary' %>
	<% end %>

<% end %>

<% if !user_signed_in? %>
  	<%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
  	<%= link_to 'Cadastro', user_registration_path, class: 'btn btn-primary' %>
<%end%>