<h2>Edit Room</h2>

<%= form_for(@room) do |r| %>
  
  <div class="field">
    <%= r.label :name %><br>
    <%= r.text_area :name %>
  </div>

  <div class="field">
    <%= r.label :location %><br>
    <%= r.text_area :location %>
  <div>
  
  <div class="actions">
    <%= r.submit "Update" %>
  </div>

<% end %>

