<%= content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
<% end %>

<h2>Edit Room</h2>

<%= form_for(@room) do |r| %>
  
  <div class="field">
    <%= r.label :name %><br>
    <%= r.text_area :name, autofocus: true, autocomplete: "Name" %>
  </div>

  <div class="field">
    <%= r.label :location %><br>
    <%= r.text_area :location, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= r.label :tipo_sala %><br>
    <%= r.text_area :tipo_sala, autocomplete: "off" %>
  </div>
  
  <div class="actions">
    <%= r.submit "Update" %>
  </div>

<% end %>
