<%= content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
<% end %>

<h1 class="luc">Listagem de salas</h1>

<div class="dropluc">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">                                         
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Tipos de Sala
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/rooms">Todas as Salas</a>
          <a class="dropdown-item" href="/filtro/Audit贸rios">Audit贸rios</a>
          <a class="dropdown-item" href="/filtro/Laborat贸rios">Laborat贸rios</a>
          <a class="dropdown-item" href="/filtro/Multiuso">Multiuso</a>
          <a class="dropdown-item" href="/filtro/Salas de Aula">Salas de Aula</a>
        </div>
      </div>
    </div>
  </body>
</div>


<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Location</th>
    <th scope="col">Categoria</th>
    <td scope="col">Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
    <% if params[:id] == room.tipo_sala%>
      <div class="room-item">
          <tr>
            <td><%= room.name %></td>
            <td><%= room.location %></td>
            <td><%= room.tipo_sala %></td>
            <td>
              <%= link_to 'Show', room_path(room.id) %>
              <%= link_to 'Aluguel', appointment_path(room.id) %>
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_room_path(room.id) %>
                <%= link_to 'Deletar', room_path(room), method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </td>
          </tr>
      </div>
    <% end %>
  <% end %>
  </tbody>
</table>
<% if current_user.is_admin? %>
  <%= link_to "Backoffice", backoffice_path, class: 'btn btn-secondary' %>
  <%= link_to "Create room", new_room_path, class: 'btn btn-success' %>
<% else %>
  <%= link_to "Voltar ao perfil", root_path, class:'btn btn-secondary' %>
<% end %>
