<div class="container">
  <h1>Rooms list</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <td scope="col">Actions</td>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <div class="room-item">
          <tr>
            <td><%= room.name %></td>
            <td><%= room.location %></td>
            <td>
              <%= link_to 'Show', room_path(room.id) %>
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_room_path(room.id) %>
              <% end %>
            </td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
  <% if current_user.is_admin? %>
    <%= link_to "Backoffice", backoffice_path, class: 'btn btn-secondary' %>
    <%= link_to "Create room", new_room_path, class: 'btn btn-success' %>
  <% else %>
    <%= link_to "Voltar ao perfil", root_path, class:'btn btn-secondary' %>
  <% end %>
</div>