<%= content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
<% end %>

<h1>Listagem de salas</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Location</th>
    <th scope="col">Capacidade de alunos</th>
    <td scope="col">Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
    <div class="room-item">
      <tr>
        <td><%= link_to room.name, room_path(room.id) %></td>
        <td><%= room.location %></td>
        <td><%= room.students %></td>
        <td>
          <%= link_to appointment_path(room.id), class: "icons" do %>
            <%= image_tag "calendar.png" %>
          <% end %>
          <% if current_user.is_admin? %>
            <%= link_to edit_room_path(room.id), class: "icons" do %>
              <%= image_tag "edit.png" %>
            <% end %>
            <%= link_to room_path(room), class: "icons", method: :delete, data: {confirm: "Are you sure?"} do %>
              <%= image_tag "bin.png" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </div>
  <% end %>
  </tbody>
</table>
<% if current_user.is_admin? %>
  <%= link_to "Backoffice", backoffice_path, class: 'btn btn-secondary' %>
  <%= link_to "Create room", new_room_path, class: 'btn btn-success' %>
<% else %>
  <%= link_to "Voltar ao perfil", root_path, class:'btn btn-secondary' %>
<% end %>