<%= content_for :css do %>
  <%= stylesheet_link_tag 'header' %>
<% end %>

<h1>Resultado da busca de Salas Disponíveis</h1>
<div>
    <span>Data: <%= params[:date_search]%> Horário: <%= params[:time_search]%></span>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Location</th>
    <td scope="col">Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @search_result.each do |room| %>
    <div class="room-item">
      <tr>
        <td><%= room.name %></td>
        <td><%= room.location %></td>
        <td>
          <%= link_to 'Show', room_path(room.id) %>
          <%= link_to 'Aluguel', appointment_path(room.id) %>
        </td>
      </tr>
    </div>
  <% end %>
  </tbody>
</table>

<%= link_to "Voltar a Busca", search_rooms_path, class:'btn btn-secondary' %>
