<div class="content-wrapper">

  <div class="container-fluid">
		<h1 class='text-center pb-5 pt-5'>BackOffice</h1>

		<div class="col-xs-10 col-xs-offset-5">
			<% flash.each do |name, msg| %>
				<div class='alert alert-<%="#{name}"%>'>
					<a href="#" class="close" data-dismiss="alert">&#215;</a>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				</div>
				<% end %>
		</div>

		<section class="pb-4 d-flex w-100 justify-content-between">
			<div class="card align-items-center justify-content-center" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">Nº de Usuários</h5>
					<h1 class="card-text text-center"><%= @users.count %></h1>
					<a href="#" class="btn btn-primary d-flex text-center">
						<h6 class="w-100 m-0">Ver usuários</h6>
					</a>
				</div>
			</div>

			<div class="card align-items-center justify-content-center" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">Nº de Salas</h5>
					<h1 class="card-text text-center"><%= @rooms.count %></h1>
					<a href="#" class="btn btn-primary d-flex text-center">
						<h6 class="w-100 m-0">Ver Salas</h6>
					</a>
				</div>
			</div>

			<div class="card align-items-center justify-content-center" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">Reservas de Hoje</h5>
					<h1 class="card-text text-center"><%= @appointments.count %></h1>
					<a href="#" class="btn btn-primary d-flex text-center">
						<h6 class="w-100 m-0">Ver Reservas</h6>
					</a>
				</div>
			</div>

			<div class="card align-items-center justify-content-center" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">Nº Pedidos Reservas</h5>
					<h1 class="card-text text-center"><%= @appointments.count %></h1>
					<a href="#" class="btn btn-primary d-flex text-center">
						<h6 class="w-100 m-0">Ver Reservas</h6>
					</a>
				</div>
			</div>

			<div class="card align-items-center justify-content-center" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-center">Nº Reservas Confirmadas</h5>
					<h1 class="card-text text-center"><%= @appointments_aprove.count %></h1>
					<a href="#" class="btn btn-primary d-flex text-center">
						<h6 class="w-100 m-0">Ver Reservas</h6>
					</a>
				</div>
			</div>
		</section>

		<% if user_signed_in? %>
			<% if current_user.is_admin? %>
				<div>Signed in as... <%= current_user.email %></div>
				<%= link_to 'Adicionar Sala', new_room_path, method: :get, class: 'btn btn-primary' %>
				<%= link_to 'Ver lista de salas existentes', rooms_path, method: :get, class: 'btn btn-primary' %>
				<%= link_to 'Cadastrar um novo usuário', signup_user_path, class: 'btn btn-primary' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
			<% end %>
		<% end %>
	</div>
</div>