<div class="content-wrapper">
  <div class="container-fluid">
		<h1 class='text-center'>Cadastrar novo usuário</h1>
		<div class="col-xs-10 col-xs-offset-5">

      <%= form_for(:user ,:html => {class: "form-horizontal ogin100-form validate-form", role: "form"}, url: admin_registration_path, method: :post) do |f| %>
        <%= devise_error_messages! %>
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <div class="row">
          <div class="col-sm-12">
            <div class="field form-group">
              <%= f.label :username, class: "form-control-label" %><br />
              <%= f.text_field :username, autofocus: true, autocomplete: "off", class: "form-control", required: true %>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
              <div class="field form-group">
                <%= f.label "Matrícula", class: "form-control-label" %><br />
                <%= f.text_field :registration, autocomplete: "off", class: "form-control", required: true %>
              </div>
          </div>

          <div class="col-sm-12 col-md-8">
            <div class="field form-group">
              <%= f.label "Curso", class: "form-control-label" %><br />
              <%= f.text_field :course, autocomplete: "off", class: "form-control", required: true  %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="field form-group">
              <%= f.label :email, class: "form-control-label" %><br />
              <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true  %>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="field form-group">
              <%= f.label "Senha", class: "form-control-label" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true  %>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="field form-group">
              <%= f.label "Confirmação de senha", class: "form-control-label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true  %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="field form-group">
              <%= f.label "É ADMIN?", class: "form-control-label" %><br />
              <%= f.check_box :is_admin  %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="actions">
              <%= f.submit "Cadastrar", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "users/shared/links" %>
