<div class="content-wrapper">
  <div class="container-fluid">
		<h1 class='text-center'>Sign up new User</h1>
		<div class="col-xs-10 col-xs-offset-5">

      <%= form_for(:user ,:html => {class: "form-horizontal", role: "form"}, url: user_registration_path, method: :post) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label "Matrícula" %><br />
          <%= f.text_field :registration, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label "Curso" %><br />
          <%= f.text_field :course, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label "Senha" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label "Confirmação de senha" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label "É ADMIN?" %><br />
          <%= f.check_box :is_admin %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "users/shared/links" %>
