
<table class="table" id="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Usuário</th>
    <th scope="col">Sala</th>
    <th scope="col">Data do aluguel</th>
    <th scope="col">Início</th>
    <th scope="col">Status</th>

    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @appointments.each do |appointment| %>
    <tr>
      <th scope="row">1</th>
      <td class="appointment-data"> <%= appointment.user.username %> </td>
      <td class="appointment-data"> <%= appointment.room.name %> </td>
      <td class="appointment-data"> <%= appointment.appointment_date %> </td>
      <td class="appointment-data"> <%= appointment.start_time %> </td>
      <td>
        <%= form_for(appointment) do |r| %>    
          <%= link_to "Aprovar", change_status_path, :id=>appointment.id, class:'btn btn-secondary' %>
          <%= r.submit "Reprovado"%>
          <% if appointment.status == 0 %>
            <%= r.label "REPROVADO" %>
          <% elsif appointment.status == 1 %>
            <%= r.label "SOLICITADO" %>
          <% else %>
            <%= r.label "APROVADO" %>
          <% end %>
        <% end %> 
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Voltar ao perfil", root_path, class:'btn btn-secondary' %>
<%# <td> <%= link_to 'Editar', edit_appointment_path(appointment.id) </td> %>

<%# <div class="actions">
  <%= r.submit "Update" %>
<%# </div> %>