
<div>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login100-form validate-form', name: 'pass' ) do |f| %>
					<span class="login100-form-title p-b-55">
						<h2 style="font-weight: bold;">
              Log in
            </h2>
					</span>

          <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input100', placeholder: 'Email' %>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<span class="fa fa-envelope"></span>
						</span>
          </div>

          <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
            <%= f.password_field :password, autocomplete: "off", class: 'input100', placeholder: "Senha" %>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<span class="fa fa-lock"></span>
						</span>
          </div>

          <div class="contact100-form-checkbox m-l-4">
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me, class: 'input-checkbox100', id: 'ckb1' %>
                <%= f.label "Lembre-se de mim", class: 'label-checkbox100', for: 'ckb1' %>
              </div>
            <% end -%>
          </div>

          <div class="container-login100-form-btn p-t-25">
            <%= f.submit "Log in", class: 'login100-form-btn' %>
          </div>

          <div class="text-center w-full p-t-115">
						<span class="txt1">
							Não é cadastrado ainda?
						</span>

            <%= link_to 'Cadastre-se agora!', new_user_registration_path, class: 'txt1 bo1 hov1' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
